@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-font: #333;
}
#root {
  @apply w-full;
}
body {
  @apply flex  flex-col items-center;
  font-family: "Noto Sans KR", sans-serif;
}
section {
  @apply w-full max-w-screen-2xl;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.toastui-editor-contents img {
  max-height: 500px !important;
}
.popup_text {
  gap: 1vw;
}

#commentList > li:nth-child(n + 1) {
  border-bottom: 1px solid #ddd;
}
#commentList > li:last-child {
  border-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .toastui-editor-popup {
    margin-left: 0 !important;
    z-index: 9999;
  }
  .toastui-editor-dropdown-toolbar {
    flex-wrap: wrap;
    height: fit-content !important;
  }
  .toastui-editor-toolbar {
    position: fixed;
    top: 0.4rem;
    right: 4rem;
    /* top: 50%;
    right: 1rem;
    transform: translateY(-50%); */
    width: 50px;
    z-index: 999;
    border: 1px solid #ebedf2;
  }
  .toastui-editor-dropdown-toolbar {
    width: 212px;
    overflow: hidden;
  }
  .toastui-editor-defaultUI-toolbar {
    padding: 0 0 !important;
    height: auto;
    justify-content: center;
  }
}

.test {
  transition: all 1s;
}
