@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-font: #333;
}
#root {
  @apply w-full max-w-screen-2xl;
}
body {
  @apply w-full flex  flex-col items-center;
  font-family: "Noto Sans KR", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.toastui-editor-contents img {
  max-height: 500px !important;
}
.popup_text {
  gap: 1vw;
}
